@import "bootstrap-sprockets";
@import "bootstrap";
.cart {position: absolute; right:10px;
   }
.order {position: absolute; right:10px;
   }
.navbar-nav {
float: none;
text-align: center;
}
.navbar-nav li {
float: none;
display: inline-block;
}
body
{background-image: url(2);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}
#dish_in_basket {display: inline-block;
}