<div class="alert alert-danger"><h1><p class="text-center"> Все заведения</p></h1></div>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav nav-justifed">
    <div class="alert alert-danger"><h3>
    <% @categories.each do |category| %>
        <li>
        <%= link_to category.title, list_category_path(category[:id]) %></li>
    <% end %></h3></div>
      </ul>
    </div>
  </div>
</nav>
<table>
 <tbody>
    <% @caves.each do |cafe| %>
	  <tr>
	    <td><h4><%= link_to cafe.title, list_one_path(cafe.id)  %></h4></td>
	    <td><%= image_tag "/uploads/#{cafe.id}", width: 130, height: 150 %></td>
	    <td><h4>Средний чек: <%= cafe.image %></h4></td></br>
	  </tr>
	<% end %>   
 </tbody> 	
</table>